@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Помилка</h1>
<h2 class="text-danger">@ViewData["ErrorMessage"]</h2>

<a asp-controller="Tickets" asp-action="Index" class="btn btn-primary">Повернутися до списку квитків</a>