@model TicketsTrainDomain.Model.TrainAtRoute

@{
    ViewData["Title"] = "Delete TrainAtRoute";
}

<h1>Видалити</h1>

<dl class="row">
    <dt class="col-sm-2">Потяг</dt>
    <dd class="col-sm-10">@Model.Train?.TrainName</dd>

    <dt class="col-sm-2">Маршрут</dt>
    <dd class="col-sm-10">
        @($"{Model.Route?.StartStation} - {Model.Route?.EndStation}")
    </dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Назад</a>
</form>
